.estoque_baixo {
	margin-top: 5px;
	width: 60px;
	text-align: center;
	background-color: #FF2222;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}
.estoque_bom {
	margin-top: 5px;
	width: 60px;
	text-align: center;
	background-color: #008000;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}