
/*#busca{
	width: 20%;
	height: 40px;
	padding-left: 10px;
	outline: 0;
        font-size: 12px;
}*/
.btn-success{
    background: #008372;
    border-color: #008372;
    box-shadow: 0px 0px 5px #666666;
    font-family: Franklin Gothic Book, Arial;
} 
.btn-success:hover, .btn-success:active, .btn-success.hover {
    background-color: #008372;
    border-color: #008372;
    font-family: Franklin Gothic Book, Arial;
}

.btn-info {
    background-color: #008372;
    border-color: #008372;
    font-family: Franklin Gothic Book, Arial;
}
.btn-primary {
    	background-color: #008372;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}
.btn-primary:hover{
       	background-color: #008372;
        border-color: #008372;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	color: #FFF; 
}

.btn-danger{
	background-color: #FF2222;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
} 

.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
    background-color: #FF2222;
    border-color: #FF2222;
    font-family: Franklin Gothic Book, Arial;
}

.box-body{
   background-color: #FFF;
   font-family: Franklin Gothic Book, Arial;
}    
.pag a {
        font-family: Franklin Gothic Book, Arial;
	padding: 5px 10px;
	background-color: #999;
	font-size: 16px;
	color: #FFF;
}
.pag a:hover{
        font-family: Franklin Gothic Book, Arial;
	background-color: #333;
	text-decoration: none;
}

.msg-tabela{
    font-family: Franklin Gothic Book, Arial;
    text-align: center;
    color: orange;
}

.situacao_inativo {
        font-family: Franklin Gothic Book, Arial;
	margin-top: 5px;
	width: 50px;
	text-align: center;
	background-color: #FF2222;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}
.situacao_ativo {
        font-family: Franklin Gothic Book, Arial;
	margin-top: 5px;
	width: 50px;
	text-align: center;
	background-color: #008372;
	font-size: 12px;
	font-family: Franklin Gothic Book, Arial;
	box-shadow: 0px 0px 5px #666666;
	color: #FFF;
}

.skin-blue .main-header .navbar{
    background-color: #2A3F54;
}

.skin-blue .main-header .logo{
    background-color: #2A3F54;
}

.skin-blue .main-header .logo:hover {
    background-color: #2A3F54;
}

.skin-blue .main-header .navbar .sidebar-toggle{
    color: #ddd;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #2A3F54;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #2A3F54;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #2A3F54;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background-color: rgba(0,0,0,.1);
}
.skin-blue .main-header li.user-header{
    background-color:#2A3F54;
}   

.skin-blue .sidebar-menu>li.header {
    color: #fff;
    background: #2A3F54;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
    background-color:#2A3F54;
}
.main-header .logo .logo-lg {
    display: block;
    font-size: 15px;
}

/* css para validar o formulario */
form label {
  display: inline-block;
}

form div {
  margin-bottom: 10px;
}

.error {
    font-family: Franklin Gothic Book, Arial;
  color: red;
  margin-left: 5px;
  font-weight: normal;
}

label.error {
  display: inline;
}
.progress-description, .info-box-text{
    font-family: Franklin Gothic Book, Arial;
    font-size: 14px;
}

.info-box-number{
  font-family: Franklin Gothic Book, Arial; 
  font-size: 15px;
}

.box.box-info {
    border-top-color: #008372;
}

.box.box-primary {
    border-top-color: #008372;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
background-color: #008372 !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body{
        background-color: #008372 !important;
    border-color: #008372;
    font-family: Franklin Gothic Book, Arial;
}
